/* Public */

footer {
	margin-top: 2em;
	border-top: 1px dotted #999;
}

h1 {
	font-size: 1.5em;
	font-weight: normal;
	margin: 0 0 0.2em 0;
	border-bottom: 1px solid #555;
}

p {
	line-height: 1.3em;
	margin: 0 0 1.5m 0;
}

/* Header Container */

.nav-container {
	z-index: 9999;
	width: 100%;
	height: 42px;
	background-color: #836eed;
	border-radius: 8px;
}

.list-container {

	float: right;
	min-width: 100px;
	min-height: 100px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 8px;
	border: 1px solid white;
	background-color: #dbdfe1;
	padding: 8px 8px 8px 8px;
}

.tag-list {
	position: relative;
	width: 140px;
	height: 130px;
	top: 0px;
	font-weight: bold;
	display: inline-block;
}

.tag-name {
	font-weight: normal;
}

.tag:hover {
	cursor: pointer;
	background: gray;
}

.tag-is-actived-manu {
	font-weight: normal;
	background: lightblue;
}

.tag-is-actived-type {
	font-weight: normal;
	background: lightblue;
}

.tag-is-actived:hover {
	cursor: pointer;
	background: gray;
}

.content-container {
	clear: right;
}

.nav-item {
	display: inline-block;
	margin-top: 14px;
	margin-bottom: 14px;
	padding: 0px 40px 0px 40px;
	border-right: 3px solid #d3c4f9;
}

.nav-item:last-child {
	border-right: none;
}
.nav-item a {
	color: white;
	font-size: 14px;
	text-decoration: none;

}

/* Temp */

.miceContainer {
	display: none;
}

.pieContainer {
	display: none;
}


/* Body container */

.camera-grid {
	width: 260px;
	height: 260px;
	margin: 15px 15px 15px 15px;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.3);
	padding: 8px;
	overflow: hidden;
	box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);
	-webkit-transition: all 1s;
	display: inline-block;
	text-align: bottom;
	position: relative;
	top: 0px;
}

.camera-grid h1 {
	font-size: 20px;
	white-space: nowrap;
	text-align: left;
	font-weight: bold;
}

.camera-grid img {
	max-width: 260px;
	max-height: 195px;
	width: auto;
	vertical-align: top;
	position: relative;

}

.camera-is-selected {
	border: 2px solid red;
	padding: 7px;
}

.camera-detail-container {
	width: 260px;
}

.camera-detail-table {
	border: 1px solid black;
}

.camera-detail-img img {
	width: 260px;
	height: auto;
}

/* Revealing 3D Menu CSS */
body {
	font-family: sans-serif;
	font-size: 100%;
	padding: 0;
	margin: 0;
	color: #333;
	background-color: #221;
}



/* main page */
.page-container {
	position: fixed;
	width: 87%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 15px 8%;
	background-color: #fff;
	overflow: auto;
	z-index: 0;
	-webkit-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	transform-origin: 0 50%;
}


.page-container:after {
	position: absolute;
	content: ' ';
	left: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
	background-image: -moz-linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
	background-image: -ms-linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
	background-image: -o-linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
	background-image: linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
	pointer-events: none;
}

.page-container, .page-container:after {
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}

/* sliding sidebar menu style */

.sidebar:hover {
	left: 0;
}

.sidebar:hover ~ .page-container {
	-webkit-transform: translateX(16em) perspective(600px) rotateY(10deg);
	-moz-transform: translateX(16em) perspective(600px) rotateY(10deg);
	-ms-transform: translateX(16em) perspective(600px) rotateY(10deg);
	-o-transform: translateX(16em) perspective(600px) rotateY(10deg);
	transform: translateX(16em) perspective(600px) rotateY(10deg);
}

.sidebar:hover ~ .page-container:after {
	left: 60%;
}

.sidebar, .sidebar * {
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.sidebar a:link, .sidebar a:visited {
	display: block;
	width: 100%;
	font-weight: bold;
	line-height: 2.5em;
	text-indent: 10px;
	text-decoration: none;
	color: #ffc;
	border-radius: 4px;
	outline: 0 none;
}

.sidebar a:hover, .sidebar a:focus {
	color: #fff;
	background-color: #543;
	text-shadow: 0 0 4px #fff;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
}

.sidebar {
	position: fixed;
	left: -16em;
	top: 0;
	bottom: 0;
	background-color: #d9edff;
	border-right: 50px solid #2e3192;
	box-shadow: 4px 0 5px rgba(0,0,0,0.2);
	z-index: 1;
	cursor: pointer;
}

.sidebar:after {
	position: absolute;
	content: ' ';
	width: 0;
	height: 0;
	right: -70px;
	top: 50%;
	border-width: 15px 10px;
	border-style: solid;
	border-color: transparent transparent transparent #2e3192;
}

.sidebar ul {
	width: 14em;
	list-style-type: none;
	margin: 0;
	padding: 1em;
}
