/* Public */

footer {
	margin-top: 2em;
	border-top: 1px dotted #999;
}

h1 {
	font-size: 1.5em;
	font-weight: normal;
	margin: 0 0 0.2em 0;
	border-bottom: 1px solid #555;
}

p {
	line-height: 1.3em;
	margin: 0 0 1.5m 0;
}

/* Starting Page */

#starting-page {
	background-color: rgba(0,0,0,0.75);;
	width: 100%;
	height: 100%;
	color: white;
	position: fixed;
	float: bottom;
	top: 0px;
	bottom: 0px;
	left: 50px;
	right: 0px;
	font-size: 20px;
	z-index: 99999;

}

.starting-right {

	right: 150px;
	top: 220px;
	position: absolute;
	z-index: 1000;
}

.starting-left {

	position: absolute;
	top: 500px;
}

.starting-middle {
	position: relative;
	top: 80px;
	width: auto;
	left: 695px;
}

.starting-button {
	position: fixed;
	bottom: 100px;
	right: 100px;
}

/* Header Container 
*/

.nav-container {
	z-index: 99;
	width: 100%;
	height: 42px;
	background-color: #836eed;
	border-radius: 8px;
}

.list-container {

	float: right;
	min-width: 100px;
	min-height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 8px;
	border: 2px solid white;
	background-color: #dbdfe1;
	padding: 8px 8px 8px 8px;
}

.tag-list {
	position: relative;
	width: 140px;
	height: 130px;
	top: 0px;
	font-weight: bold;
	display: inline-block;
}

.tag-name {
	font-weight: normal;
}

.tag:hover {
	cursor: pointer;
	background: gray;
}

.tag-is-actived-manu {
	font-weight: normal;
	background: lightblue;
}

.tag-is-actived-type {
	font-weight: normal;
	background: lightblue;
}

.tag-is-actived:hover {
	cursor: pointer;
	background: gray;
}

.content-container {
	clear: right;
}

.nav-item {
	display: inline-block;
	margin-top: 14px;
	margin-bottom: 14px;
	padding: 0px 40px 0px 40px;
	border-right: 3px solid #d3c4f9;
}

.nav-item:last-child {
	border-right: none;
}

.nav-item a {
	color: white;
	font-size: 14px;
	text-decoration: none;

}

/*quick View*/

.comparison-container {
	float: left;
}

.comparison-container-button {
	max-width: 400;
	float: left;
	top: 10px;
	position: relative;
	z-index: 0;
}

.camera-quick {
	position: absolute;
}

.comparison-selected-container {
	position: relative;
	top: 0px;
	margin: 10px 5px 10px 5px;
	width: 160px;
	height: 120px;
	border: 2px solid black;
	border-radius: 8px;
	display: inline-block;
	text-align: center;;
}

.comparison-selected-container img {
	width: 150px;
	height: auto;
	max-height: 104px;
	overflow: hidden;
	border-radius: 8px;
}

/* Body container 
/* Table Style*/

.category-bar {
	text-align: center;
	width: 100%;
	background-color: #B2E0FF;
	font-size: 18px;
}

.table-row{
	/*border: 1px solid red;*/
	border-bottom: 1px solid rgba(0,0,0,0.1);
	
}

.camera-detail {
	display: inline-block;
	height: auto;
	padding-top: 2px;
	padding-bottom: 2px;
	/*border: 1px solid red;*/
}

.camera-detail-heading {
	width: 180px;
	height: 100%;
	font-family: fantasy;
	font-weight: bold;	
}

.camera-detail-content {
	/*display: inline-block;*/
	width: 356px;
	height: auto;
	font-family: serif;
	padding-left: 2px;
}

.camera-detail-img img {
	width: 260px;
	height: auto;
}

/* Grid Style*/

.camera-grid {
	width: 260px;
	height: 260px;
	margin: 15px 15px 15px 15px;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.3);
	padding: 8px;
	overflow: hidden;
	box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);
	-webkit-transition: all 1s;
	display: inline-block;
	text-align: bottom;
	position: relative;
	display: none;
	top: 0px;
}

.actived-type {
	display: inline-block;
}

.actived-manu {
	display: inline-block;
}

.camera-grid h1 {
	font-size: 20px;
	white-space: nowrap;
	text-align: left;
	font-weight: bold;
}

.camera-grid img {
	max-width: 260px;
	max-height: 195px;
	width: auto;
	vertical-align: top;
	position: relative;

}

.camera-is-selected {
	border: 2px solid red;
	padding: 7px;
}

/* sideBar */
/* Configurations Style */

.configuration-menu-list {
	font-size: 14px;
	height: 20px;
	padding: 2px 2px 2px 16px;
	font-weight: normal;
	color: green;
}

.configuration-menu {
	font-size: 16px;
	font-weight: bold;
	padding: 2px 2px 2px 2px;
}

.config-is-clicked {
	color: gray;
}

.detail-is-hidden {
	display: none;
}


/* Revealing 3D Menu CSS */

body {
	font-family: sans-serif;
	font-size: 100%;
	padding: 0;
	margin: 0;
	color: #333;
	background-color: #221;
}


/* main page */
.page-container {
	position: fixed;
	width: 88%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 15px 8%;
	background-color: #fff;
	overflow: auto;
	z-index: 0;
	-webkit-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	transform-origin: 0 50%;
}


.page-container:after {
	position: absolute;
	content: ' ';
	left: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
	background-image: -moz-linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
	background-image: -ms-linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
	background-image: -o-linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
	background-image: linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
	pointer-events: none;
}

.page-container, .page-container:after {
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}

/* sliding sidebar menu style */


.sidebar:hover {
	left: 0;
}

.sidebar:hover ~ .page-container {
	-webkit-transform: translateX(16em) perspective(600px) rotateY(10deg);
	-moz-transform: translateX(16em) perspective(600px) rotateY(10deg);
	-ms-transform: translateX(16em) perspective(600px) rotateY(10deg);
	-o-transform: translateX(16em) perspective(600px) rotateY(10deg);
	transform: translateX(16em) perspective(600px) rotateY(10deg);
}

.sidebar:hover ~ .page-container:after {
	left: 60%;
}

.sidebar, .sidebar * {
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.sidebar a:link, .sidebar a:visited {
	display: block;
	width: 100%;
	font-weight: bold;
	line-height: 2.5em;
	text-indent: 10px;
	text-decoration: none;
	color: #ffc;
	border-radius: 4px;
	outline: 0 none;
}

.sidebar a:hover, .sidebar a:focus {
	color: #fff;
	background-color: #543;
	text-shadow: 0 0 4px #fff;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
}

.sidebar {
	position: fixed;
	left: -16em;
	top: 0;
	bottom: 0;
	background-color: #d9edff;
	border-right: 50px solid #2e3192;
	box-shadow: 4px 0 5px rgba(0,0,0,0.2);
	z-index: 1;
	cursor: pointer;
	overflow: scroll;
}

.sidebar:after {
	position: absolute;
	content: ' ';
	width: 0;
	height: 0;
	right: -70px;
	top: 50%;
	border-width: 15px 10px;
	border-style: solid;
	border-color: transparent transparent transparent #2e3192;
}

.sidebar > ul {
	width: 14em;
	list-style-type: none;
	margin: 0;
	padding: 1em;
}
